PORT=4000
MONGODB_URI=mongodb://localhost:27017/revisecast
JWT_SECRET=CHANGE_ME_IN_PRODUCTION
JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_IN_PRODUCTION
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
STORAGE_TYPE=local
UPLOADS_DIR=./uploads
BASE_URL=http://localhost:4000
NODE_ENV=development
